#romania-map path {
    fill: lightgreen;
    transition: .4s;
  }
  
  #romania-map path:hover {
    fill: rgb(92, 161, 92);
    
  }
  
  #romania-map path.selected {
    fill: rgb(219, 219, 94);
  }
