#romania-map {
    stroke: #333;
    stroke-width: 0.5;
}

#romania-map path {
    fill: green;
    transition: fill 0.3s ease;
    cursor: pointer;
}

#romania-map path:hover {
    fill: blue;
}

#romania-map path.selected {
    fill: red;
}