#romania-map path {
    fill: #E74C3C;
    stroke: black;
    transition: .4s;
  }
  
  #romania-map path:hover {
    fill: #86342b;
    
  }
  
  #romania-map path.selected {
    fill: #f8988e;
  }
.separator{
  background-color: darkslategray;
  height: 300vh;
}

@media (max-width: 780px) {
  #romania-map path{
    transform: scale(.36);
  }
  .separator{
    height: 400vh;
    margin-top: -400px;
    margin-left: -4.5vw;
    margin-right: -10vw;
  }
  .Map{
    margin-top: 40px;
    margin-left: 4.5vw;
    margin-right: 10vw;
  }
}
